	/* DARKMODE STYLES */
	.darkmode{
		background-color: #242424;
		color: #FFFFFF;
	}
	.darkmode2{
		text-align: center;/
		/*vertical-align: middle;*/
		color: #000000;
	height: 5,7%;
	width: 40%;
	background-color: #3428ba;
	/*display: inline;*/
	top: 18.55%;
	left: 17.55%;
	position: absolute;
	padding: 10px 10px 10px 10px;
	}
	.darkmode3{
		color: #000000 ;
	text-align: center;
	padding: 10px;
	font-size: 50px;
	font-weight: bold;
	background-image: url("headerbackdark.png");
	}
	.darkmode4{

		display: block;
		margin-left: 0px;
		margin-right: auto;
		height: 60%;
		width: 60%;
	
	}
	.darkmode5, .darkmode6{
	
	text-align: center;
		padding: 0.5% 0.5% 0.5% 0.5%;
	width: 15% ;
	background-color: #3428ba;
	box-sizing: border-box;	
	}
	.darkmode7{
	color: #FFFFFF;
		text-align: center;
		margin-left: 15%;
		margin-top: 10%;
		position: fixed;
		top: 15%;
	}
	.darkmode8{
		color: #FFFFFF !important;
		width: auto;
		height: auto;
		font-size:20px ;
		text-align: center;
		/*padding: 2% 8% 2% 8%;*/
		font-family: anton;
	}
	
	.darkB{
		background-color: #363636;

	}

	
	

	/* LIGHT MODE  (DEFAULT!!) 
	!! !! !! !! !! !! !! !! !! */

	.lightB{
		background-color: #c8c8c8;

	}

	
	

	.lightmode{
		color: #000000;
	}

	.menuhold{
		padding: 0.5% 0.5% 0.5% 0.5%;
		background-color: #5fa2db;
		height:15% ;
		width:15% ;
	}
	.menuhold, .menuitem{
		box-sizing: border-box;
	}

	.menuitem{
		vertical-align: middle;
	height: 35%;
	width: 100%;
	background-image: url("menubackgr22.png");
	/*	OLD	background-image: url(gradient.png);*/
	background-color: none;
	display: inline-block;
	padding: 10% 10% 10% 10%;
	}

	/* PARAGRAPHS (BODY TEXT CONTENT) */
	p{
		
		text-align: center;
		margin-left: 15%;
		margin-top: 10%;
		position: fixed;
		top: 25%;
		
	}
	


.pheaderitem{
		text-align: center;/
		/*vertical-align: middle;*/
		color: #000000;
	height: 5,7%;
	width: 40%;
	background-color: #5fa2db;
	/*display: inline;*/
	top: 18.55%;
	left: 17.55%;
	position: absolute;
	padding: 10px 10px 10px 10px;
	}
	.logo{
		display: block;
		margin-left: 0px;
		margin-right: auto;
		height: 60%;
		width: 60%;
	}
	/* HEADER 1 */


	h1 {
		color: #FFFFFF ;
	text-align: center;
	padding: 10px;
	font-size: 50px;
	font-weight: bold;
	background-image: url("headerbacklight.png");
}
/* SIZES AND FITTINGS (WORKS FOR BOTH LIGHT AND DARK MODE) */

body{
	margin: 8px;
}

.Bimg{
		max-width: 40%;
		max-height: 40%;
	}

}
.redes{
	display: inline;
	width:15%;
	height:15%;
	padding: 0% 0.5% 0% 0.5%;
}

.unselectable{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

ul{
	height: 10%;
	width: 10%;
}

.menuicon{
		height: 90%;
		width: 90%;
	}
/* BUTTON */


								button{
									
									font-family: Poppins ;
									
									color:white ;
									font-size: 75%;
									/*padding: 1%;
									max-height: 20%;
									height: 10%;
									width: 48%;*/
									max-height: 40px;
									min-width: 100%;
									max-width: 200%;
									
									width: fit-content;
	

	
	/*max-width: 100%;  
	overflow: hidden; 
	white-space: nowrap; 
	
	display: inline-flex; 
	justify-content: center; 
	align-items: center; 
	min-width: 0;   */
}


} 

/* HEADER 2 */

	/*body {background-color: #121212;}*/
	h2{
		color: #FFFFFF ;
		background-color: #3428ba ;
		text-align: left;
		padding: 10px;
		font-size: 30px;
		font-weight: bold;
	}
	/*h2 {background-image: url("test12221.png");} */

/* IMAGES */

	
	
	

	
	/* MENU TEST */
	


	.submenuitem{

	}
	
		.titlehold, .titleitem{
box-sizing: border-box;
	}

	.titleitem{
		text-align: center;
		color: #FFFFFF;
	height: auto;
	width: auto;
	display:inline-block;
	}
	.pageheader{
		height: 15%;
		width: 15%;
text-align: right;
margin-left: 125%;
margin-right: 10px;
	}
	/* LINKS */
	.aa{
		color: #BBBBBB;
		width: auto;
		height: auto;
		font-size:20px ;
		text-align: center;
		/*padding: 2% 8% 2% 8%;*/
		font-family: anton;
		display: block;
		width: 100%;
		height: 100%;
	}
	.ad{
		color: #FFFFFF;
		width: auto;
		height: auto;
		font-size:20px ;
		text-align: center;
		/*padding: 2% 8% 2% 8%;*/
		font-family: anton;
	}
	a:link{
		text-decoration: none;
	}
 